*{
    margin: 0;
    padding: 0;
}


:root{

    /*tabela de cores  */
    --cinza: #3f4954;
    --vermelho: red;
    --zul: blue;
    --amarelo: yellow;
    --amarelomassa: orange;
    --roxo:purple;
    
 
    

    --webkit5: linear-gradient(to top, purple 0%, rgb(76, 4, 76) 100%);
  
    

        
    
    }

.container{
    width: 100%;
    position: fixed;
    

 
                         
}

#nav{
    
      background-image: var(--webkit5);

    height: 10vh;
}

#player {
   height: 3vh;
   width: 4;
   padding: 1vh;
    display: flex;
    position: absolute;
    top: 2vh;
    left: 51vh;
}

#player img{
    cursor: pointer;
   
}

#player p{
    color: white;
    font-family: var(--Abel);
}

#pause{
    display: none;
}

@media(max-width:950px){
    #player {
        height: 3vh;
        width: 4;
        padding: 1vh;
        display: flex;
        position: absolute;
        top: 2vh;
        left: 51vh;
}
}

@media(max-width:614px){
    #player {
        height: 3vh;
        padding: 1vh;
        display: flex;
        position: absolute;
        top: 2vh;
        left: 39vh;
}
}


@media(max-width:500px){
    #player {
        height: 3vh;
        padding: 1vh;
        display: flex;
        position: absolute;
        top: 2vh;
        left: 35vh;
}
}



@media(max-width:468px){
    #player {
        height: 3vh;
        padding: 1vh;
        display: flex;
        position: absolute;
        top: 2vh;
        left: 18vh;
}
}

@media(max-width:372px){
    #player {
        height: 3vh;
        padding: 1vh;
        display: flex;
        position: absolute;
        top: 2vh;
        left: 9vh;
}
}
@media(max-width:246px){
    #player {
        height: 3vh;
        padding: 1vh;
        display: flex;
        position: absolute;
        top: 2vh;
        left: 5vh;
        
}
}
@media(max-width:246px){
    #player img{
    cursor: pointer;
    width: 8vh;
    height: 2vh;
   
}
}
 
